@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Epilogue:700,600,500italic,500,400");

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.navbar-link {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.span0 {
  font-weight: 600;
}

.span1 {
  letter-spacing: 0;
}

.flex-row-item {
  height: 500px;
  object-fit: cover;
  width: 500px;
}

.flex {
  align-items: flex-start;
  display: flex;
}

.user-personas {
  top: 990px;
}

.footer-item {
  height: 50px;
  margin-left: 25px;
  width: 50px;
}