/* screen - project-1-safechat */

.project-1-safechat {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 30851px;
  width: 1728px;
}

.project-1-safechat .nav-bar {
  height: 670px;
  object-fit: cover;
  width: 1728px;
}

.project-1-safechat .overlap-group8 {
  height: 30081px;
  margin-top: 2px;
  position: relative;
  width: 1728px;
}

.project-1-safechat .body {
  height: 30081px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1728px;
}

.project-1-safechat .title {
  height: 69px;
  left: 425px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 69px;
  width: 228px;
}

.project-1-safechat .name {
  height: 120px;
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 855px;
  width: 218px;
}

.project-1-safechat .team {
  height: 27px;
  left: 100px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 813px;
  white-space: nowrap;
}

.project-1-safechat .figma-miro-storyboard-that-canva {
  height: 120px;
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 643px;
  width: 199px;
}

.project-1-safechat .tools {
  height: 27px;
  left: 100px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 601px;
  white-space: nowrap;
}

.project-1-safechat .user-research-user-p {
  height: 210px;
  left: 100px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 341px;
  width: 257px;
}

.project-1-safechat .surname {
  height: 27px;
  left: 100px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 299px;
  white-space: nowrap;
}

.project-1-safechat .march-june-2021 {
  height: 27px;
  left: 100px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 222px;
  width: 257px;
}

.project-1-safechat .duration {
  height: 27px;
  left: 100px;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 180px;
  white-space: nowrap;
}

.project-1-safechat .safe-chat-logo {
  height: 82px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 70px;
  width: 200px;
}

.project-1-safechat .where-support-meets {
  color: var(--black-2);
  font-weight: 400;
  left: 425px;
  line-height: 50px;
  position: absolute;
  top: 158px;
  width: 1086px;
}

.project-1-safechat .our-research-delved {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 570px;
  width: 1084px;
}

.project-1-safechat .user-research {
  top: 503px;
}

.project-1-safechat .lack-of-awareness-ab {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 740px;
  width: 1084px;
}

.project-1-safechat .meet-erica-a-31-yea {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 1060px;
  width: 1084px;
}

.project-1-safechat .erica-persona {
  height: 495px;
  left: 491px;
  position: absolute;
  top: 1461px;
  width: 746px;
}

.project-1-safechat .name-1 {
  left: 781px;
  line-height: 50px;
  text-align: center;
  top: 1975px;
  white-space: nowrap;
}

.project-1-safechat .mike-persona {
  height: 503px;
  left: 487px;
  position: absolute;
  top: 2126px;
  width: 754px;
}

.project-1-safechat .name-2 {
  left: 784px;
  line-height: 50px;
  text-align: center;
  top: 2640px;
  white-space: nowrap;
}

.project-1-safechat .user-journey-map {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 2740px;
  white-space: nowrap;
}

.project-1-safechat .to-capture-mikes-ex {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 2810px;
  width: 1084px;
}

.project-1-safechat .journey-map {
  background-color: var(--cultured-pearl);
  height: 801px;
  left: 91px;
  overflow: hidden;
  position: absolute;
  top: 3061px;
  width: 1547px;
}

.project-1-safechat .main-rectangle {
  background-color: var(--cultured-pearl);
  height: 1056px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1824px;
}

.project-1-safechat .ellipse-1 {
  height: 96px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 96px;
}

.project-1-safechat .mikes-user-journey-map {
  color: var(--log-cabin);
  font-family: var(--font-family-roboto-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 155px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 76px;
  white-space: nowrap;
}

.project-1-safechat .name-3 {
  left: 154px;
  line-height: 25px;
  top: 533px;
  width: 120px;
}

.project-1-safechat .he-tries-reaching-ou {
  left: 289px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .feeling-alone-he-at {
  left: 424px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .hoping-for-a-friendl {
  left: 559px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .feeling-increasingly {
  left: 694px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .he-discovers-the-let {
  left: 829px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .looking-for-other-uw {
  left: 964px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .he-explores-external {
  left: 1099px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .with-no-immediate-so {
  left: 1234px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .despite-trying-to-co {
  left: 1369px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 533px;
  width: 120px;
}

.project-1-safechat .touchpt-1 {
  left: 217px;
  top: 232px;
}

.project-1-safechat .touchpoint-inner-circle {
  background-color: var(--cerulean-blue);
  border-radius: 4.5px;
  height: 9px;
  width: 9px;
}

.project-1-safechat .touchpt-2 {
  left: 340px;
  top: 268px;
}

.project-1-safechat .touchpt-3 {
  left: 473px;
  top: 307px;
}

.project-1-safechat .touchpt-4 {
  left: 586px;
  top: 278px;
}

.project-1-safechat .touchpt-5 {
  left: 738px;
  top: 271px;
}

.project-1-safechat .touchpt-6 {
  left: 892px;
  top: 313px;
}

.project-1-safechat .touchpt-8 {
  left: 1151px;
  top: 315px;
}

.project-1-safechat .touchpt-9 {
  left: 1287px;
  top: 230px;
}

.project-1-safechat .touchpt-7 {
  left: 1027px;
  top: 367px;
}

.project-1-safechat .touchpoint-outer-circle {
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--cerulean-blue-2);
  border-radius: 6.5px;
  height: 13px;
  left: 1425px;
  position: absolute;
  top: 275px;
  width: 13px;
}

.project-1-safechat .touchpoint-inner-circle-1 {
  left: 1427px;
  top: 277px;
}

.project-1-safechat .touchpoint-outer-circle-1 {
  left: 1291px;
  top: 451px;
}

.project-1-safechat .touchpoint-inner-circle-2 {
  left: 1293px;
  top: 453px;
}

.project-1-safechat .touchpoint-outer-circle-2 {
  left: 1153px;
  top: 415px;
}

.project-1-safechat .touchpoint-inner-circle-3 {
  left: 1155px;
  top: 417px;
}

.project-1-safechat .touchpoint-outer-circle-3 {
  left: 1031px;
  top: 425px;
}

.project-1-safechat .touchpoint-inner-circle-4 {
  left: 1033px;
  top: 427px;
}

.project-1-safechat .touchpoint-outer-circle-4 {
  left: 891px;
  top: 257px;
}

.project-1-safechat .touchpoint-inner-circle-5 {
  left: 893px;
  top: 259px;
}

.project-1-safechat .touchpoint-outer-circle-5 {
  left: 743px;
  top: 326px;
}

.project-1-safechat .touchpoint-inner-circle-6 {
  left: 745px;
  top: 328px;
}

.project-1-safechat .touchpoint-outer-circle-6 {
  left: 586px;
  top: 424px;
}

.project-1-safechat .touchpoint-inner-circle-7 {
  left: 588px;
  top: 426px;
}

.project-1-safechat .touchpoint-outer-circle-7 {
  left: 473px;
  top: 367px;
}

.project-1-safechat .touchpoint-inner-circle-8 {
  left: 475px;
  top: 369px;
}

.project-1-safechat .touchpoint-outer-circle-8 {
  left: 343px;
  top: 426px;
}

.project-1-safechat .touchpoint-inner-circle-9 {
  left: 345px;
  top: 428px;
}

.project-1-safechat .touchpoint-outer-circle-9 {
  left: 221px;
  top: 453px;
}

.project-1-safechat .touchpoint-inner-circle-10 {
  left: 223px;
  top: 455px;
}

.project-1-safechat .touchpoint-outer-circle-10 {
  left: 1431px;
  top: 337px;
}

.project-1-safechat .touchpoint-inner-circle-11 {
  left: 1433px;
  top: 339px;
}

.project-1-safechat .touchpoint-outer-circle-11 {
  left: 1427px;
  top: 230px;
}

.project-1-safechat .touchpoint-inner-circle-12 {
  left: 1429px;
  top: 232px;
}

.project-1-safechat .touchpoint-outer-circle-12 {
  left: 1293px;
  top: 357px;
}

.project-1-safechat .touchpoint-inner-circle-13 {
  left: 1295px;
  top: 359px;
}

.project-1-safechat .touchpoint-outer-circle-13 {
  left: 1153px;
  top: 273px;
}

.project-1-safechat .touchpoint-inner-circle-14 {
  left: 1155px;
  top: 275px;
}

.project-1-safechat .touchpoint-outer-circle-14 {
  left: 1031px;
  top: 315px;
}

.project-1-safechat .touchpoint-inner-circle-15 {
  left: 1033px;
  top: 317px;
}

.project-1-safechat .touchpoint-outer-circle-15 {
  left: 887px;
  top: 393px;
}

.project-1-safechat .touchpoint-inner-circle-16 {
  left: 889px;
  top: 395px;
}

.project-1-safechat .touchpoint-outer-circle-16 {
  left: 738px;
  top: 292px;
}

.project-1-safechat .touchpoint-inner-circle-17 {
  left: 740px;
  top: 294px;
}

.project-1-safechat .touchpoint-outer-circle-17 {
  left: 586px;
  top: 236px;
}

.project-1-safechat .touchpoint-inner-circle-18 {
  left: 588px;
  top: 238px;
}

.project-1-safechat .touchpoint-outer-circle-18 {
  left: 471px;
  top: 285px;
}

.project-1-safechat .touchpoint-inner-circle-19 {
  left: 473px;
  top: 287px;
}

.project-1-safechat .touchpoint-outer-circle-19 {
  left: 341px;
  top: 337px;
}

.project-1-safechat .touchpoint-inner-circle-20 {
  left: 343px;
  top: 339px;
}

.project-1-safechat .touchpoint-outer-circle-20 {
  left: 215px;
  top: 395px;
}

.project-1-safechat .touchpoint-inner-circle-21 {
  left: 217px;
  top: 397px;
}

.project-1-safechat .line-6 {
  left: 163px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-7 {
  left: 196px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-8 {
  left: 226px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-9 {
  left: 256px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-10 {
  left: 286px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-11 {
  left: 316px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-12 {
  left: 346px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-13 {
  left: 376px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-14 {
  left: 406px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-15 {
  left: 436px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-16 {
  left: 466px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-17 {
  left: 496px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-18 {
  left: 526px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-19 {
  left: 556px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-20 {
  left: 586px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-21 {
  left: 616px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-22 {
  left: 646px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-23 {
  left: 676px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-24 {
  left: 706px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-25 {
  left: 736px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-26 {
  left: 766px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-27 {
  left: 796px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-28 {
  left: 826px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-29 {
  left: 856px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-30 {
  left: 886px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-31 {
  left: 916px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-32 {
  left: 946px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-33 {
  left: 976px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-34 {
  left: 1006px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-35 {
  left: 1036px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-36 {
  left: 1066px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-37 {
  left: 1096px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-38 {
  left: 1126px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-39 {
  left: 1156px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-40 {
  left: 1186px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-41 {
  left: 1216px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-42 {
  left: 1246px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-43 {
  left: 1276px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-44 {
  left: 1306px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-45 {
  left: 1336px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-46 {
  left: 1366px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-47 {
  left: 1396px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-48 {
  left: 1426px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .line-50 {
  left: 1456px;
  top: 344px;
  width: 13px;
}

.project-1-safechat .dot {
  height: 1px;
  left: 158px;
  object-fit: cover;
  position: absolute;
  top: 235px;
  width: 13px;
}

.project-1-safechat .dot-1 {
  left: 191px;
}

.project-1-safechat .dot-2 {
  left: 221px;
}

.project-1-safechat .line-109 {
  left: 251px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-110 {
  left: 281px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-111 {
  left: 311px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-112 {
  left: 341px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-113 {
  left: 371px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-114 {
  left: 401px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-115 {
  left: 431px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-116 {
  left: 461px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-117 {
  left: 491px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .dot-3 {
  left: 521px;
}

.project-1-safechat .line-119 {
  left: 551px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-120 {
  left: 581px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-121 {
  left: 611px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-122 {
  left: 641px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-123 {
  left: 671px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-124 {
  left: 701px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-125 {
  left: 731px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-126 {
  left: 761px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-127 {
  left: 791px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-128 {
  left: 821px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-129 {
  left: 851px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-130 {
  left: 881px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-131 {
  left: 911px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-132 {
  left: 941px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-133 {
  left: 971px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-134 {
  left: 1001px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-135 {
  left: 1031px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-136 {
  left: 1061px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-137 {
  left: 1091px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-138 {
  left: 1121px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-139 {
  left: 1151px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-140 {
  left: 1181px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-141 {
  left: 1211px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-142 {
  left: 1241px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-143 {
  left: 1271px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-144 {
  left: 1301px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-145 {
  left: 1331px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-146 {
  left: 1361px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-147 {
  left: 1391px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-148 {
  left: 1421px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-150 {
  left: 1451px;
  top: 235px;
  width: 13px;
}

.project-1-safechat .line-196 {
  left: 163px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-197 {
  left: 196px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-198 {
  left: 226px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-199 {
  left: 256px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-200 {
  left: 286px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-201 {
  left: 316px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-202 {
  left: 346px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-203 {
  left: 376px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-204 {
  left: 406px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-205 {
  left: 436px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-206 {
  left: 466px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-207 {
  left: 496px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-208 {
  left: 526px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-209 {
  left: 556px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-210 {
  left: 586px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-211 {
  left: 616px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-212 {
  left: 646px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-213 {
  left: 676px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-214 {
  left: 706px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-215 {
  left: 736px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-216 {
  left: 766px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-217 {
  left: 796px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-218 {
  left: 826px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-219 {
  left: 856px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-220 {
  left: 886px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-221 {
  left: 916px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-222 {
  left: 946px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-223 {
  left: 976px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-224 {
  left: 1006px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-225 {
  left: 1036px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-226 {
  left: 1066px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-227 {
  left: 1096px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-228 {
  left: 1126px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-229 {
  left: 1156px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-230 {
  left: 1186px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-231 {
  left: 1216px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-232 {
  left: 1246px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-233 {
  left: 1276px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-234 {
  left: 1306px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-235 {
  left: 1336px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-236 {
  left: 1366px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-237 {
  left: 1396px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-238 {
  left: 1426px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-240 {
  left: 1456px;
  top: 402px;
  width: 13px;
}

.project-1-safechat .line-151 {
  left: 163px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-152 {
  left: 196px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-153 {
  left: 226px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-154 {
  left: 256px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-155 {
  left: 286px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-156 {
  left: 316px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-157 {
  left: 346px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-158 {
  left: 376px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-159 {
  left: 406px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-160 {
  left: 436px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-161 {
  left: 466px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-162 {
  left: 496px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-163 {
  left: 526px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-164 {
  left: 556px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-165 {
  left: 586px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-166 {
  left: 616px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-167 {
  left: 646px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-168 {
  left: 676px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-169 {
  left: 706px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-170 {
  left: 736px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-171 {
  left: 766px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-172 {
  left: 796px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-173 {
  left: 826px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-174 {
  left: 856px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-175 {
  left: 886px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-176 {
  left: 916px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-177 {
  left: 946px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-178 {
  left: 976px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-179 {
  left: 1006px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-180 {
  left: 1036px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-181 {
  left: 1066px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-182 {
  left: 1096px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-183 {
  left: 1126px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-184 {
  left: 1156px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-185 {
  left: 1186px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-186 {
  left: 1216px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-187 {
  left: 1246px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-188 {
  left: 1276px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-189 {
  left: 1306px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-190 {
  left: 1336px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-191 {
  left: 1366px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-192 {
  left: 1396px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-193 {
  left: 1426px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-195 {
  left: 1456px;
  top: 290px;
  width: 13px;
}

.project-1-safechat .line-61 {
  left: 160px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-62 {
  left: 193px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-63 {
  left: 223px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-64 {
  left: 253px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-65 {
  left: 283px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-66 {
  left: 313px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-67 {
  left: 343px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-68 {
  left: 373px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-69 {
  left: 403px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-70 {
  left: 433px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-71 {
  left: 463px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-72 {
  left: 493px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-73 {
  left: 523px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-74 {
  left: 553px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-75 {
  left: 583px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-76 {
  left: 613px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-77 {
  left: 643px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-78 {
  left: 673px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-79 {
  left: 703px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-80 {
  left: 733px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-81 {
  left: 763px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-82 {
  left: 793px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-83 {
  left: 823px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-84 {
  left: 853px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-85 {
  left: 883px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-86 {
  left: 913px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-87 {
  left: 943px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-88 {
  left: 973px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-89 {
  left: 1003px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-90 {
  left: 1033px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-91 {
  left: 1063px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-92 {
  left: 1093px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-93 {
  left: 1123px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-94 {
  left: 1153px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-95 {
  left: 1183px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-96 {
  left: 1213px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-97 {
  left: 1243px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-98 {
  left: 1273px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-99 {
  left: 1303px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-100 {
  left: 1333px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-101 {
  left: 1363px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-102 {
  left: 1393px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-103 {
  left: 1423px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .line-105 {
  left: 1453px;
  top: 460px;
  width: 13px;
}

.project-1-safechat .address {
  left: 154px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.project-1-safechat .address-1 {
  left: 694px;
}

.project-1-safechat .address-2 {
  left: 1369px;
}

.project-1-safechat .high {
  left: 64px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 213px;
  width: 55px;
}

.project-1-safechat .low {
  left: 82px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 438px;
  width: 37px;
}

.project-1-safechat .medium {
  left: 49px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 320px;
  width: 70px;
}

.project-1-safechat .vector-1 {
  height: 149px;
  left: 218px;
  position: absolute;
  top: 235px;
  width: 1223px;
}

.project-1-safechat .vector-2 {
  height: 166px;
  left: 225px;
  position: absolute;
  top: 237px;
  width: 1206px;
}

.project-1-safechat .vector-3 {
  height: 200px;
  left: 221px;
  position: absolute;
  top: 261px;
  width: 1212px;
}

.project-1-safechat .line-241 {
  left: 154px;
  top: 527px;
  width: 1320px;
}

.project-1-safechat .frame-19 {
  background-color: #a70000;
  top: 75px;
}

.project-1-safechat .frame-21 {
  background-color: var(--denim);
  top: 136px;
}

.project-1-safechat .frame-20 {
  background-color: #fa8632;
  top: 105px;
}

.project-1-safechat .upset {
  left: 1399px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 71px;
  white-space: nowrap;
  width: 45px;
}

.project-1-safechat .lonely {
  left: 1399px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 132px;
  white-space: nowrap;
  width: 45px;
}

.project-1-safechat .stressed {
  left: 1399px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  top: 101px;
  white-space: nowrap;
  width: 57px;
}

.project-1-safechat .overlap-group1 {
  height: 1187px;
  left: 230px;
  position: absolute;
  top: 5893px;
  width: 1318px;
}

.project-1-safechat .screenshot-2023-11-19-at-1028-1 {
  height: 1138px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1318px;
}

.project-1-safechat .storyboard-created-w {
  left: 346px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 1137px;
  white-space: nowrap;
}

.project-1-safechat .overlap-group6 {
  height: 506px;
  left: 148px;
  position: absolute;
  top: 4302px;
  width: 1446px;
}

.project-1-safechat .screenshot-2023-11-19-at-1039-1 {
  height: 457px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1446px;
}

.project-1-safechat .storyboard-created-with-storyboard-that {
  left: 424px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 456px;
  white-space: nowrap;
}

.project-1-safechat .overlap-group7 {
  height: 883px;
  left: 207px;
  position: absolute;
  top: 4909px;
  width: 1364px;
}

.project-1-safechat .screenshot-2023-11-19-at-1040-1 {
  height: 834px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1364px;
}

.project-1-safechat .storyboard-created-with-storyboard-that-1 {
  left: 433px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 833px;
  white-space: nowrap;
}

.project-1-safechat .storyboarding-the-experience {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 4031px;
  white-space: nowrap;
}

.project-1-safechat .visual-storyboards-o {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 4101px;
  width: 1084px;
}

.project-1-safechat .mikes-user-journey-map-1 {
  left: 693px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 3881px;
  white-space: nowrap;
}

.project-1-safechat .screenshot-2023-11-20-at-712-1 {
  height: 532px;
  left: 230px;
  object-fit: cover;
  position: absolute;
  top: 7578px;
  width: 409px;
}

.project-1-safechat .screenshot-2023-11-20-at-713-1 {
  height: 532px;
  left: 688px;
  object-fit: cover;
  position: absolute;
  top: 7578px;
  width: 413px;
}

.project-1-safechat .screenshot-2023-11-20-at-715-1 {
  height: 532px;
  left: 1150px;
  object-fit: cover;
  position: absolute;
  top: 7578px;
  width: 398px;
}

.project-1-safechat .screenshot-2023-11-20-at-716-1 {
  height: 542px;
  left: 462px;
  position: absolute;
  top: 8221px;
  width: 409px;
}

.project-1-safechat .screenshot-2023-11-20-at-717-1 {
  height: 542px;
  left: 920px;
  object-fit: cover;
  position: absolute;
  top: 8221px;
  width: 406px;
}

.project-1-safechat .screen-1-homepage {
  left: 312px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8120px;
  white-space: nowrap;
}

.project-1-safechat .screen-2-instant-support {
  left: 741px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8120px;
  white-space: nowrap;
}

.project-1-safechat .screen-3-scheduled-support {
  left: 1176px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8120px;
  white-space: nowrap;
}

.project-1-safechat .screen-4-journaling {
  left: 544px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8777px;
  white-space: nowrap;
}

.project-1-safechat .screen-5-additional-resources {
  left: 934px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 8777px;
  white-space: nowrap;
}

.project-1-safechat .low-fidelity-wireframes {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 8977px;
  white-space: nowrap;
}

.project-1-safechat .we-crafted-low-fidel {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 9047px;
  width: 1084px;
}

.project-1-safechat .image-12 {
  height: 621px;
  left: 1129px;
  position: absolute;
  top: 9348px;
  width: 303px;
}

.project-1-safechat .image-11 {
  height: 621px;
  left: 739px;
  position: absolute;
  top: 9348px;
  width: 303px;
}

.project-1-safechat .image-10 {
  height: 621px;
  left: 348px;
  position: absolute;
  top: 9348px;
  width: 303px;
}

.project-1-safechat .image-13 {
  height: 626px;
  left: 348px;
  position: absolute;
  top: 10029px;
  width: 303px;
}

.project-1-safechat .image-14 {
  height: 626px;
  left: 739px;
  position: absolute;
  top: 10029px;
  width: 303px;
}

.project-1-safechat .image-15 {
  height: 626px;
  left: 1129px;
  position: absolute;
  top: 10029px;
  width: 303px;
}

.project-1-safechat .image-16 {
  height: 627px;
  left: 348px;
  position: absolute;
  top: 10715px;
  width: 303px;
}

.project-1-safechat .image-17 {
  height: 627px;
  left: 739px;
  position: absolute;
  top: 10715px;
  width: 303px;
}

.project-1-safechat .image-18 {
  height: 627px;
  left: 1129px;
  position: absolute;
  top: 10715px;
  width: 303px;
}

.project-1-safechat .image-19 {
  height: 633px;
  left: 348px;
  position: absolute;
  top: 11402px;
  width: 303px;
}

.project-1-safechat .image-20 {
  height: 638px;
  left: 739px;
  position: absolute;
  top: 11397px;
  width: 313px;
}

.project-1-safechat .image-21 {
  height: 633px;
  left: 1129px;
  position: absolute;
  top: 11402px;
  width: 311px;
}

.project-1-safechat .annotated-wireframes {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 12184px;
  white-space: nowrap;
}

.project-1-safechat .i-annotated-each-wir {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 12254px;
  width: 1084px;
}

.project-1-safechat .overlap-group2 {
  height: 771px;
  left: 371px;
  position: absolute;
  top: 12505px;
  width: 1044px;
}

.project-1-safechat .image-22 {
  height: 769px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1044px;
}

.project-1-safechat .vector-55 {
  height: 64px;
  left: 340px;
  position: absolute;
  top: 705px;
  width: 69px;
}

.project-1-safechat .vector-56 {
  height: 60px;
  left: 357px;
  position: absolute;
  top: 698px;
  width: 36px;
}

.project-1-safechat .vector-57 {
  height: 40px;
  left: 11px;
  position: absolute;
  top: 730px;
  width: 45px;
}

.project-1-safechat .vector-58 {
  height: 60px;
  left: 25px;
  position: absolute;
  top: 702px;
  width: 67px;
}

.project-1-safechat .vector-59 {
  height: 37px;
  left: 23px;
  position: absolute;
  top: 722px;
  width: 39px;
}

.project-1-safechat .vector-60 {
  height: 41px;
  left: 23px;
  position: absolute;
  top: 699px;
  width: 23px;
}

.project-1-safechat .vector-61 {
  height: 14px;
  left: 23px;
  position: absolute;
  top: 690px;
  width: 7px;
}

.project-1-safechat .vector-62 {
  height: 14px;
  left: 56px;
  position: absolute;
  top: 747px;
  width: 30px;
}

.project-1-safechat .vector-63 {
  height: 9px;
  left: 386px;
  position: absolute;
  top: 694px;
  width: 6px;
}

.project-1-safechat .overlap-group3 {
  height: 798px;
  left: 392px;
  position: absolute;
  top: 13308px;
  width: 1026px;
}

.project-1-safechat .image-23 {
  height: 774px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1026px;
}

.project-1-safechat .vector-64 {
  height: 38px;
  left: 11px;
  position: absolute;
  top: 731px;
  width: 32px;
}

.project-1-safechat .vector-65 {
  height: 15px;
  left: 11px;
  position: absolute;
  top: 704px;
  width: 7px;
}

.project-1-safechat .vector-66 {
  height: 61px;
  left: 15px;
  position: absolute;
  top: 703px;
  width: 53px;
}

.project-1-safechat .vector-67 {
  height: 62px;
  left: 328px;
  position: absolute;
  top: 701px;
  width: 54px;
}

.project-1-safechat .vector-68 {
  height: 39px;
  left: 371px;
  position: absolute;
  top: 696px;
  width: 14px;
}

.project-1-safechat .vector-69 {
  height: 80px;
  left: 341px;
  position: absolute;
  top: 718px;
  width: 47px;
}

.project-1-safechat .vector-70 {
  height: 20px;
  left: 371px;
  position: absolute;
  top: 735px;
  width: 11px;
}

.project-1-safechat .vector-71 {
  height: 17px;
  left: 17px;
  position: absolute;
  top: 729px;
  width: 8px;
}

.project-1-safechat .overlap-group4 {
  height: 797px;
  left: 386px;
  position: absolute;
  top: 14132px;
  width: 1031px;
}

.project-1-safechat .image-24 {
  height: 793px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1026px;
}

.project-1-safechat .vector-72 {
  height: 12px;
  left: 5px;
  position: absolute;
  top: 720px;
  width: 6px;
}

.project-1-safechat .vector-73 {
  height: 38px;
  left: 4px;
  position: absolute;
  top: 715px;
  width: 12px;
}

.project-1-safechat .vector-74 {
  height: 59px;
  left: 8px;
  position: absolute;
  top: 730px;
  width: 61px;
}

.project-1-safechat .vector-75 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 757px;
  width: 48px;
}

.project-1-safechat .vector-76 {
  height: 11px;
  left: 34px;
  position: absolute;
  top: 779px;
  width: 14px;
}

.project-1-safechat .vector-77 {
  height: 66px;
  left: 6px;
  position: absolute;
  top: 726px;
  width: 74px;
}

.project-1-safechat .vector-78 {
  height: 55px;
  left: 6px;
  position: absolute;
  top: 718px;
  width: 30px;
}

.project-1-safechat .vector-79 {
  height: 66px;
  left: 10px;
  position: absolute;
  top: 724px;
  width: 65px;
}

.project-1-safechat .vector-80 {
  height: 64px;
  left: 326px;
  position: absolute;
  top: 726px;
  width: 56px;
}

.project-1-safechat .vector-81 {
  height: 48px;
  left: 349px;
  position: absolute;
  top: 743px;
  width: 44px;
}

.project-1-safechat .vector-82 {
  height: 24px;
  left: 337px;
  position: absolute;
  top: 764px;
  width: 29px;
}

.project-1-safechat .vector-83 {
  height: 20px;
  left: 330px;
  position: absolute;
  top: 769px;
  width: 32px;
}

.project-1-safechat .vector-84 {
  height: 56px;
  left: 358px;
  position: absolute;
  top: 715px;
  width: 26px;
}

.project-1-safechat .overlap-group5 {
  height: 801px;
  left: 391px;
  position: absolute;
  top: 14975px;
  width: 1029px;
}

.project-1-safechat .image-25 {
  height: 795px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1029px;
}

.project-1-safechat .vector-85 {
  height: 71px;
  left: 343px;
  position: absolute;
  top: 731px;
  width: 45px;
}

.project-1-safechat .vector-86 {
  height: 77px;
  left: 330px;
  position: absolute;
  top: 714px;
  width: 57px;
}

.project-1-safechat .vector-87 {
  height: 14px;
  left: 374px;
  position: absolute;
  top: 752px;
  width: 9px;
}

.project-1-safechat .vector-88 {
  height: 76px;
  left: 1px;
  position: absolute;
  top: 717px;
  width: 77px;
}

.project-1-safechat .vector-89 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 758px;
  width: 38px;
}

.project-1-safechat .vector-90 {
  height: 71px;
  left: 3px;
  position: absolute;
  top: 719px;
  width: 68px;
}

.project-1-safechat .vector-91 {
  height: 5px;
  left: 61px;
  position: absolute;
  top: 783px;
  width: 8px;
}

.project-1-safechat .vector-92 {
  height: 54px;
  left: 5px;
  position: absolute;
  top: 726px;
  width: 23px;
}

.project-1-safechat .vector-93 {
  height: 46px;
  left: 5px;
  position: absolute;
  top: 728px;
  width: 29px;
}

.project-1-safechat .overlap-group {
  height: 821px;
  left: 385px;
  position: absolute;
  top: 15820px;
  width: 1035px;
}

.project-1-safechat .image-26 {
  height: 817px;
  left: 6px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1029px;
}

.project-1-safechat .vector-94 {
  height: 58px;
  left: 363px;
  position: absolute;
  top: 757px;
  width: 31px;
}

.project-1-safechat .vector-95 {
  height: 35px;
  left: 322px;
  position: absolute;
  top: 787px;
  width: 72px;
}

.project-1-safechat .vector-96 {
  height: 62px;
  left: 349px;
  position: absolute;
  top: 758px;
  width: 48px;
}

.project-1-safechat .vector-97 {
  height: 28px;
  left: 324px;
  position: absolute;
  top: 789px;
  width: 55px;
}

.project-1-safechat .vector-98 {
  height: 9px;
  left: 330px;
  position: absolute;
  top: 807px;
  width: 12px;
}

.project-1-safechat .vector-99 {
  height: 40px;
  left: 374px;
  position: absolute;
  top: 752px;
  width: 18px;
}

.project-1-safechat .vector-100 {
  height: 15px;
  left: 10px;
  position: absolute;
  top: 754px;
  width: 10px;
}

.project-1-safechat .vector-101 {
  height: 63px;
  left: 13px;
  position: absolute;
  top: 756px;
  width: 73px;
}

.project-1-safechat .vector-102 {
  height: 37px;
  left: 0;
  position: absolute;
  top: 784px;
  width: 44px;
}

.project-1-safechat .vector-103 {
  height: 62px;
  left: 11px;
  position: absolute;
  top: 756px;
  width: 68px;
}

.project-1-safechat .high-fidelity-prototype {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 16786px;
  white-space: nowrap;
}

.project-1-safechat .our-team-developed-h {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 16856px;
  width: 1084px;
}

.project-1-safechat .my-teams-original-ui {
  left: 445px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 17206px;
  white-space: nowrap;
}

.project-1-safechat .my-redesigned-ui {
  left: 1053px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 17206px;
  white-space: nowrap;
}

.project-1-safechat .image-27 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 17267px;
  width: 412px;
}

.project-1-safechat .screen-1-homepage-1 {
  left: 741px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 18117px;
  white-space: nowrap;
}

.project-1-safechat .image-29 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 18244px;
  width: 412px;
}

.project-1-safechat .image-28 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 17267px;
  width: 412px;
}

.project-1-safechat .image-30 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 18244px;
  width: 412px;
}

.project-1-safechat .screen-2-scheduled-help {
  left: 711px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 19094px;
  white-space: nowrap;
}

.project-1-safechat .image-31 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 19221px;
  width: 412px;
}

.project-1-safechat .image-32 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 19221px;
  width: 414px;
}

.project-1-safechat .screen-3-mentor-page {
  left: 727px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 20071px;
  white-space: nowrap;
}

.project-1-safechat .image-33 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 20198px;
  width: 412px;
}

.project-1-safechat .image-34 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 20198px;
  width: 414px;
}

.project-1-safechat .screen-4-scheduling-appointments {
  left: 650px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 21048px;
  white-space: nowrap;
}

.project-1-safechat .image-35 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 21175px;
  width: 412px;
}

.project-1-safechat .image-36 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 21175px;
  width: 414px;
}

.project-1-safechat .screen-5-scheduling {
  left: 610px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 22025px;
  white-space: nowrap;
}

.project-1-safechat .image-37 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 22152px;
  width: 414px;
}

.project-1-safechat .image-38 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 22152px;
  width: 412px;
}

.project-1-safechat .screen-6-scheduling {
  left: 492px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 23002px;
  white-space: nowrap;
}

.project-1-safechat .image-39 {
  height: 837px;
  left: 952px;
  position: absolute;
  top: 23129px;
  width: 412px;
}

.project-1-safechat .image-40 {
  height: 837px;
  left: 363px;
  position: absolute;
  top: 23129px;
  width: 414px;
}

.project-1-safechat .screen-7-scheduling {
  left: 515px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 23975px;
  white-space: nowrap;
}

.project-1-safechat .image-41 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 24102px;
  width: 414px;
}

.project-1-safechat .image-42 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 24102px;
  width: 414px;
}

.project-1-safechat .screen-8-wellness {
  left: 751px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 24952px;
  white-space: nowrap;
}

.project-1-safechat .image-43 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 25079px;
  width: 414px;
}

.project-1-safechat .image-44 {
  height: 841px;
  left: 952px;
  position: absolute;
  top: 25079px;
  width: 414px;
}

.project-1-safechat .screen-9-chat {
  left: 776px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 25929px;
  white-space: nowrap;
}

.project-1-safechat .image-45 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 26056px;
  width: 414px;
}

.project-1-safechat .image-46 {
  height: 841px;
  left: 951px;
  position: absolute;
  top: 26056px;
  width: 414px;
}

.project-1-safechat .i-used-pencil-and-pa {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 7299px;
  width: 1084px;
}

.project-1-safechat .screen-10-chat {
  left: 771px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 26906px;
  white-space: nowrap;
}

.project-1-safechat .image-47 {
  height: 841px;
  left: 363px;
  position: absolute;
  top: 27033px;
  width: 414px;
}

.project-1-safechat .image-48 {
  height: 841px;
  left: 951px;
  position: absolute;
  top: 27033px;
  width: 414px;
}

.project-1-safechat .screen-11-profile {
  left: 763px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 27883px;
  white-space: nowrap;
}

.project-1-safechat .reflections-key-takeaways {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 28083px;
  white-space: nowrap;
}

.project-1-safechat .the-design-journey-w {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 28153px;
  width: 1084px;
}

.project-1-safechat .our-project-undersco {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 28473px;
  width: 1084px;
}

.project-1-safechat .my-independent-redes {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 28693px;
  width: 1084px;
}

.project-1-safechat .through-dedication {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 28963px;
  width: 1084px;
}

.project-1-safechat .project-4 {
  background-color: var(--celeste);
  height: 500px;
  left: 1154px;
  position: absolute;
  top: 29471px;
  width: 500px;
}

.project-1-safechat .image-49 {
  cursor: pointer;
  height: 500px;
  left: 74px;
  object-fit: cover;
  position: absolute;
  top: 29471px;
  width: 500px;
}

.project-1-safechat .image-50 {
  cursor: pointer;
  height: 500px;
  left: 614px;
  object-fit: cover;
  position: absolute;
  top: 29471px;
  width: 500px;
}

.project-1-safechat .interface-sketches {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  top: 7229px;
  white-space: nowrap;
}

.project-1-safechat .footer {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  height: 98px;
  justify-content: flex-start;
  padding: 0 74px;
  width: 1728px;
}

.project-1-safechat .designed-and-devel {
  height: 27px;
  letter-spacing: 0;
  line-height: 27px;
  margin-bottom: 3.0px;
  margin-left: 8px;
  min-width: 439px;
  white-space: nowrap;
}

.project-1-safechat .gmail {
  height: 50px;
  margin-left: 933px;
  width: 50px;
}

.project-1-safechat .address-3 {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 490px;
  white-space: nowrap;
}

.project-1-safechat .dot-4 {
  height: 1px;
  object-fit: cover;
  position: absolute;
  top: 235px;
  width: 13px;
}

.project-1-safechat .frame {
  height: 20px;
  left: 1368px;
  position: absolute;
  width: 20px;
}

.project-1-safechat .line {
  height: 1px;
  object-fit: cover;
  position: absolute;
}

.project-1-safechat .name-4 {
  letter-spacing: 0;
  position: absolute;
}

.project-1-safechat .touchpoint-inner-circle-22 {
  background-color: var(--cerulean-blue);
  border-radius: 4.5px;
  height: 9px;
  position: absolute;
  width: 9px;
}

.project-1-safechat .touchpoint-outer-circle-21 {
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--cerulean-blue-2);
  border-radius: 6.5px;
  height: 13px;
  position: absolute;
  width: 13px;
}

.project-1-safechat .touchpt {
  align-items: flex-start;
  background-color: var(--cultured-pearl);
  border: 1px solid;
  border-color: var(--cerulean-blue-2);
  border-radius: 6.5px;
  display: flex;
  height: 13px;
  min-width: 13px;
  padding: 1px;
  position: absolute;
}

.project-1-safechat .user {
  left: 425px;
  letter-spacing: 0;
  line-height: 50px;
  position: absolute;
  white-space: nowrap;
}
